body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:123px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:122px;
  font-size:20px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:306px;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:84px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:310px;
  height:83px;
  font-size:20px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:306px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:84px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:310px;
  height:83px;
  font-size:20px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:306px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:84px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:310px;
  height:83px;
  font-size:20px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:306px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:42px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:0px;
  width:597px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  white-space:nowrap;
}
