body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:651px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:38px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u225 {
  position:absolute;
  left:0px;
  top:70px;
}
#u225_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:652px;
  height:511px;
  background-image:none;
}
#u225_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:510px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:510px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:652px;
  height:511px;
  visibility:hidden;
  background-image:none;
}
#u225_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:510px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:510px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:652px;
  height:511px;
  visibility:hidden;
  background-image:none;
}
#u225_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:510px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:510px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:652px;
  height:511px;
  visibility:hidden;
  background-image:none;
}
#u225_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:510px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:510px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:652px;
  height:511px;
  visibility:hidden;
  background-image:none;
}
#u225_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:510px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:510px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:556px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u231_img.selected {
}
#u231.selected {
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:556px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u232_img.selected {
}
#u232.selected {
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:556px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u233_img.selected {
}
#u233.selected {
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:556px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u234_img.selected {
}
#u234.selected {
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:556px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u235_img.selected {
}
#u235.selected {
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
