body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:651px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:18px;
  width:634px;
  height:25px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:70px;
  width:89px;
  height:25px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:32px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:67px;
  width:300px;
  height:31px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:70px;
  width:282px;
  height:25px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:139px;
  width:50px;
  height:1px;
  font-size:20px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-11px;
  width:46px;
  white-space:nowrap;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:177px;
  width:89px;
  height:25px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:26px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:178px;
  width:300px;
  height:25px;
}
#u116_img.selected {
}
#u116.selected {
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:180px;
  width:293px;
  height:21px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:243px;
  width:69px;
  height:19px;
  text-decoration:underline;
  color:#3300FF;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
